@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.mainback{
    color:rgb(238, 238, 93);
    height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.page{
    width: 100%;
    margin-top: 3%;
}

.heading{
    font-size: 60px;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(238, 238, 93);
}

@media only screen and (max-width:600px){
    .heading{font-size: 45px;
    display: flex;
    }
}